#dropzone-wrapper {
  border: 2px dashed #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem 1.25rem;
}

.drag-accept {
  background-color: #dcfdd7 !important;
}

.drag-reject {
  background-color: #FFCCCB !important;
}

.indicator {
  font-size: 4rem;
}

.progress {
  font-size: 1rem;
  height: 1.5rem;
}

.figure {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}

.photo-card {
  max-width: 10rem !important;
  padding: 10 !important;
  padding-top: 10px !important;
  margin: 5px;
  cursor: pointer;
  border: none !important;
  background-color: #efefef !important;
}

.photo-card:hover {
  background-color: #87ceeb4a !important;
}

.check-box {
  width: 18px;
  height: 20px;
  border: 1px solid#adb5bd;
  margin-bottom: 5px;
  position: relative;
}

.check-mark {
position: absolute;
}

.like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}